/*
mxmlツリーのタグに対して有効
テキスト
フォントファミリ、サイズ、線幅、カラー、フォント（太字、斜体、下線）およびその他のテキスト表示設定
ボーダー
太さ、カラー、ロールオーバーカラー、ボーダーのスタイル（べた塗り、インセット、アウトセット、なし）、角丸の半径など
カラー
塗りつぶし色とアルファ
@namespace CalendarDayBox "xmlns:view.documentroot.reportscreen.sidebar.*";
@namespace FileItem "xmlns:xmlns.documentroot.reportscreen.sidebar.calendardaybox.FileItem.*";
*/
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace s "library://ns.adobe.com/flex/spark";

@font-face {
	src: url("../../assets/fonts/NotoSansMonoCJKjp-Regular.otf");
	fontFamily: "Noto Sans Mono CJK JP Regular CFF";
	embedAsCFF: true;
}

@font-face {
	src: url("../../assets/fonts/NotoSansMonoCJKjp-Regular.otf");
	fontFamily: "Noto Sans Mono CJK JP Regular";
	embedAsCFF: false;
}

@font-face {
	src: url("../../assets/fonts/NotoSansMonoCJKjp-Bold.otf");
	fontFamily: "Noto Sans Mono CJK JP Bold CFF";
	embedAsCFF: true;
}

@font-face {
	src: url("../../assets/fonts/NotoSansMonoCJKjp-Bold.otf");
	fontFamily: "Noto Sans Mono CJK JP Bold";
	embedAsCFF: false;
}
/*flashdevelopのプロジェクトからフォントSWCをライブラリに追加する
	source: url("./Fonts.swc");
	fontLookup: embeddedCFF;
	embedAsCFF:true;
	advancedAntiAliasing: true;
@font-face {
    src: url("location");
    fontFamily: alias;
    [fontStyle: normal | italic | oblique] ;
    [fontWeight: normal | bold | heavy] ;
    [embedAsCFF:true | false] ;
    [advancedAntiAliasing: true | false];
}
*/
global, s|global, mx|global {
}
#initScreen {
	backgroundColor: #222222;
}
#reportScreen {
	backgroundColor: #ffffff;/*#111133;*/
}
s|Label {
	fontFamily: "Noto Sans Mono CJK JP Regular CFF";
	fontWeight: normal;
	color: #ffffff;
	fontSize: 20;
}
s|TextInput {
	fontFamily: "Noto Sans Mono CJK JP Regular CFF";
	fontWeight: normal;
	color: #000000;
	contentBackgroundColor: #ffffff;
	fontSize: 24;
	contentBackgroundAlpha: 1.0;
	contentBackgroundColor: #ffffff;
	/*skinClass: ClassReference("spark.skins.mobile.TextInputSkin");*/
}

s|TextArea {
	fontFamily: "Noto Sans Mono CJK JP Regular CFF";
	fontWeight: normal;
	color: #ffffff;
	backgroundColor: #222222;
	fontSize: 18;
}
s|Button {
	color: #ffffff;
	fontSize: 20;
}
s|Button:over {
	backgroundColor: #eeee00;
}
.textSmall {
	fontSize: 18;
	color: #aaaaaa;
}
.textMedium {
	fontSize: 24;
}
.textLarge {
	fontSize: 32;
}
.textXLarge {
	fontSize: 48;
}
.folderListItem {
	fontSize: 24;
	color: #222222;
}
.itemLabel {
	color: #ffffff;
	fontSize: 20;
}
.btnText {
	color: #ffffff;
	fontSize: 20;
}
.emergencyPageBtn {
	color: #ffffff;
	fontSize: 26;
}
.troublePageBtn {
	color: #222222;
	fontSize: 26;
}
.manualPageBtn {
	color: #ffffff;
	fontSize: 26;
}
.emergencyTitle {
	color: #ee0000;
	fontSize: 48;
}
.troubleTitle {
	color: #eeaa00;
	fontSize: 48;
}
#emergencyHeadMenu #datetime, #emergencyHeader #datetimeHead {
	color: #222222;
}
