<config name="config">
	<userName title="名前"></userName>
	<loadImageDir title="">C:\KuraraySaijo</loadImageDir>
	<tools>
		<colorLine>0x000000</colorLine>
		<colorFill>0x000000</colorFill>
		<penTime>3</penTime>
		<penWeight>4</penWeight>
		<imageSize>600</imageSize>
		<stampSize>80</stampSize>
		<textSize>24</textSize>
	</tools>
	<report>
		<defaultViewWidth>1920</defaultViewWidth>
		<defaultViewHeight>1080</defaultViewHeight>
	</report>
	<link>
		<defaultLoginChannel></defaultLoginChannel>
		<separateBytes>51200</separateBytes>
		<sendDataDelayTime>100</sendDataDelayTime>
		<memberLoginTimeout>5000</memberLoginTimeout>
	</link>
	<kuraraySaijo>
		<safety>
			<safetyPersonList>
			</safetyPersonList>
			<baseDate>2020/01/01</baseDate>
		</safety>
		<noAccident>
			<noAccidentTotal>10000</noAccidentTotal>
			<noAccidentStartDate>2020/01/01</noAccidentStartDate>
			<noAccidentTargetDate>2020/12/31</noAccidentTargetDate>
		</noAccident>
		<spotlessDriving>
			<spotlessDrivingTotal>1000</spotlessDrivingTotal>
			<spotlessDrivingStartDate>2020/01/01</spotlessDrivingStartDate>
			<spotlessDrivingTargetDate>2020/12/31</spotlessDrivingTargetDate>
		</spotlessDriving>
	</kuraraySaijo>
</config>
