<config name="config">
	<userName title="名前"></userName>
	<loadImageDir title="">C:\KuraraySaijo</loadImageDir>
	<tools>
		<colorLine>0x000000</colorLine>
		<colorFill>0x000000</colorFill>
		<penTime>3</penTime>
		<penWeight>4</penWeight>
		<imageSize>600</imageSize>
		<stampSize>80</stampSize>
		<textSize>24</textSize>
	</tools>
	<report>
		<defaultViewWidth>3840</defaultViewWidth>
		<defaultViewHeight>2160</defaultViewHeight>
	</report>
	<link>
		<defaultLoginChannel></defaultLoginChannel>
		<separateBytes>51200</separateBytes>
		<sendDataDelayTime>100</sendDataDelayTime>
		<memberLoginTimeout>5000</memberLoginTimeout>
	</link>
	<kuraraySaijo>
		<duty>
			<baseDate>2020/01/01</baseDate>
			<designingPersonList></designingPersonList>
			<pipePersonList></pipePersonList>
			<electricPersonList></electricPersonList>
		</duty>
		<noAccidentAll>
			<noAccidentTotal>10000</noAccidentTotal>
			<noAccidentStartDate>2020/01/01</noAccidentStartDate>
		</noAccidentAll>
		<noAccidentDept>
			<noAccidentTotal>10000</noAccidentTotal>
			<noAccidentStartDate>2020/01/01</noAccidentStartDate>
		</noAccidentDept>
		<person>
			<inputFile>C:\temp\SA00001.csv</inputFile>
			<inputInterval>60000</inputInterval>
		</person>
		<sensor>
			<inputFile>C:\temp\SA00002.csv</inputFile>
			<inputInterval>60000</inputInterval>
		</sensor>
		<meetingroom>
			<inputFile>C:\temp\SA00003.csv</inputFile>
			<inputInterval>30000</inputInterval>
		</meetingroom>
	</kuraraySaijo>
</config>
